.counter-container {
  display: flex;
}

.time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.time-container h1 {
  font-weight: 400;
  
}

.time-container h2 {
  font-weight: 300;
}
